<div class="rutinas-container">
  <h1>Rutinas</h1>

  <div class="rutinas-container">
  <div class="card">
    <div class="card-footer">
      <button class="edit-btn" routerLink="/crear-rutina">Editar</button>
      <button class="delete-btn" (click)="openDeleteDialog()">Eliminar</button>
    </div>
    <div class="card-header">
      <h3>Nombre rutina</h3>
      <p>Hora: 10:00 AM</p>
    </div>
    <div class="card-body">
      <label>Días:</label>
      <div class="dias">
        <span>L</span>
        <span>M</span>
        <span>M</span>
        <span>J</span>
        <span>V</span>
        <span>S</span>
        <span>D</span>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-footer">
      <button class="edit-btn" routerLink="/crear-rutina">Editar</button>
      <button class="delete-btn" (click)="openDeleteDialog()">Eliminar</button>
    </div>
    <div class="card-header">
      <h3>Nombre rutina</h3>
      <p>Hora: 08:00 AM</p>
    </div>
    <div class="card-body">
      <label>Días:</label>
      <div class="dias">
        <span>L</span>
        <span>M</span>
        <span>M</span>
        <span>J</span>
        <span>V</span>
        <span>S</span>
        <span>D</span>
      </div>
    </div>
  </div>
</div>

  <button mat-raised-button color="primary" routerLink="/crear-rutina" class="crear-btn">
    + Crear
  </button>
</div>
